/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  font-family: mulish;
  background-color: #2e2e2e;
  color: #fff;
  position: relative;
}

/* Custom container max-width */
div.container.about {
  max-width: 850px;
}

div.container.resume {
  max-width: 900px;
}

div.container.contact {
  max-width: 850px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: mulish;
}

a {
  color: #adadad;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.active {
  color: #fff;
}

.gray {
  color: #adadad;
}

.nav-bg {
  background-color: #3d3d3d;
}

.sidebar {
  background-color: #3d3d3d;
  width: 350px;
  height: 100vh;
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 1;
}

.sidebar .logo {
  padding-left: 22px;
}

.sidebar .logo img {
  height: 40px;
}

.sidebar .menu ul li {
  list-style-type: none;
  color: inherit;
  font-weight: 500;
  transition: all 0.3s ease;
}

.sidebar .copyright {
  color: #adadad;
  font-family: mulish;
}

.navbar .menu ul li {
  list-style-type: none;
  color: inherit;
  font-weight: 500;
  transition: all 0.3s ease;
}

.offcanvas-header h3 {
  color: #fff !important;
  font-family: mulish;
}

.offcanvas-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  flex-grow: 1;
}

.footer_copyright {
  margin-top: auto;
  padding-top: 1rem; /* Optional: Add some padding for better spacing */
}

.main-content {
  background-color: #2e2e2e;
  width: 100%;
  min-height: 100vh;
  float: left;
  position: relative;
  padding-left: 350px !important;
  color: #fff;
}

.hidden-section {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  height: 0;
  overflow: hidden;
}

.visible-section {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
  height: auto;
  overflow: visible;
}

.fade-in-up {
  animation: fadeInUp 0.5s ease-out;
}

/* Custom dark modal styles */
.modal-dark .modal-content {
  background-color: #2e2e2e; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.modal-header {
  border-bottom: none !important;
}

.modal-dark .modal-header,
.modal-dark .modal-footer {
  border-color: #2e2e2e; /* Darker border color */
}

.modal-dark .btn-close {
  filter: invert(1); /* Invert the close button color */
}

.modal-dark .btn-secondary {
  background-color: #2e2e2e; /* Dark secondary button */
  border-color: #2e2e2e;
}

/* Custom dark modal styles */
.modal-dark .modal-content {
  background-color: #2e2e2e; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.modal-dark .modal-header,
.modal-dark .modal-footer {
  border-color: #2e2e2e; /* Darker border color */
}

.modal-dark .btn-close {
  filter: invert(1); /* Invert the close button color */
}

.mouse-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  visibility: hidden;
}

.cursor-inner {
  margin-left: -3px;
  margin-top: -3px;
  width: 6px;
  height: 6px;
  z-index: 50;
  background-color: #adadad;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out,
    margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner.cursor-hover {
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-color: #adadad;
  opacity: 0.3;
}

.cursor-outer {
  margin-left: -15px;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  border: 2px solid #adadad;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 50;
  opacity: 0.5;
  -webkit-transition: all 0.08s ease-out;
  transition: all 0.08s ease-out;
}

.cursor-outer.cursor-hover {
  opacity: 0;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #3d3d3d00; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background: #565656; /* Color of the scrollbar thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #3d3d3d; /* Color of the scrollbar thumb on hover */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Hide sidebar on smaller screens */
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .main-content {
    width: 100%;
    padding-left: 0 !important;
  }
}

/* Adjust main-content for larger screens */
/* @media (min-width: 992px) {
  .main-content {
    padding-left: 350px !important;
  }
} */

/* Styles for tablets (max-width: 768px) */
@media (max-width: 1024px) {
  /* Custom container max-width */
  div.container.about {
    max-width: 700px; /* Adjust this value as needed */
  }

  div.container.resume {
    max-width: 720px; /* Adjust this value as needed */
  }

  div.container.contact {
    max-width: 700px; /* Adjust this value as needed */
  }
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/

/* Styles for tablets (max-width: 768px) */
@media (max-width: 1024px) {
  .navbar-brand img {
    height: 30px;
  }
  .offcanvas {
    --bs-offcanvas-width: 300px !important;
  }
}

/* Styles for mobile devices (max-width: 576px) */
@media (max-width: 576px) {
  .navbar-brand img {
    height: 25px;
  }

  .offcanvas {
    --bs-offcanvas-width: 200px !important;
  }
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#word-preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: #2e2e2e;
  z-index: 99999;
  font-family: mulish;
}

#word-preloader .word-container {
  font-size: 2rem;
  color: #fff;
}

/* Existing Preloader Styles */
#preloader {
  display: none; /* Initially hidden */
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 99999;
}

#preloader:before,
#preloader:after {
  content: "";
  background-color: #2e2e2e;
  position: absolute;
  inset: 0;
  width: 50%;
  height: 100%;
  transition: all 0.3s ease 0s;
  z-index: -1;
}

#preloader:after {
  left: auto;
  right: 0;
}

#preloader .line {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 1px;
  height: 280px;
  transition: all 0.8s ease 0s;
}

#preloader .line:before {
  content: "";
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 50%;
  width: 1px;
  height: 0%;
  transform: translateY(-50%);
  animation: lineincrease 1000ms ease-in-out 0s forwards;
}

#preloader .line:after {
  content: "";
  position: absolute;
  background-color: #999;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  transform: translateY(-100%);
  animation: linemove 1200ms linear 0s infinite;
  animation-delay: 2000ms;
}

#preloader.loaded .line {
  opacity: 0;
  height: 100% !important;
}

#preloader.loaded .line:after {
  opacity: 0;
}

#preloader.loaded:before,
#preloader.loaded:after {
  animation: preloaderfinish 300ms ease-in-out 500ms forwards;
}

@keyframes lineincrease {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes linemove {
  0% {
    transform: translateY(200%);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes preloaderfinish {
  0% {
    width: 50%;
  }

  100% {
    width: 0%;
  }
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Ensure particles are behind content */
  display: none; /* Hide particles by default */
}
#home {
  position: relative;
}

#home .home_body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1; /* Ensure content is above particles */
}

#home .row {
  align-items: center;
  justify-content: center;
}

#home .avatar {
  position: relative;
  border-radius: 100%;
  min-height: 300px;
}

#home .avatar .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
  animation: morph 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
}

#home .name h3 {
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
}

#home .social_links a {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: #ffffff17;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5.8px);
  -webkit-backdrop-filter: blur(5.8px);
  /* border: 1px solid rgba(255, 255, 255, 0.04); */
}

#home .social_links a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #ffffff00;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
}

#home .social_links a:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #b3ff00;
}

#home .social_links a:hover {
  color: #b3ff00;
  box-shadow: 0 0 5px #b3ff00;
  text-shadow: 0 0 5px #b3ff00;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Styles for tablets (max-width: 768px) */
@media (max-width: 1024px) {
  #home .name h3 {
    font-size: 34px;
  }

  #home .bio {
    font-size: 14px;
  }

  #home .social_links a {
    font-size: 16px;
    width: 38px;
    height: 38px;
  }
}

/* Styles for mobile devices (max-width: 576px) */
@media (max-width: 576px) {
  #home .name h3 {
    font-size: 28px;
  }

  #home .bio {
    font-size: 12px;
  }

  #home .name,
  .bio,
  .social_links {
    text-align: center;
  }

  #home .social_links {
    justify-content: center;
  }

  #home .social_links a {
    font-size: 14px;
    width: 36px;
    height: 36px;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

#about .about_body {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 55px 0;
}

#about .section_title span {
  background-color: #3d3d3d;
  color: #adadad;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: montserrat;
  letter-spacing: 0;
  margin-bottom: 12px;
}

#about .section_title h2 {
  font-weight: 900;
}

#about .section_title i:hover {
  color: #b3ff00;
}

#about .about_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Default styles for larger screens */
#about .avatar {
  position: relative;
  border-radius: 10px; /* Initial border-radius for rectangle */
  min-height: 530px;
  min-width: 680px;
}

#about .avatar .image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  background-size: cover;
  animation: morph2 8s ease-in-out infinite 1s;
  background-blend-mode: multiply;
  box-shadow: inset 0 0 0 9px rgba(255, 255, 255, 0.3);
}

#about .about_content h3 {
  font-weight: 800;
}

#about .short-info ul li {
  list-style-type: none;
  padding-bottom: 10px !important;
}

#about .short-info ul li span:first-child {
  min-width: 100px;
  float: left;
  margin-right: 10px;
  font-weight: 700;
}

#about .short-info a:hover {
  color: #b3ff00;
}

/*CTTO: TimTrayler */
#about button {
  --hover-shadows: 16px 16px 33px #121212, -16px -16px 33px #3d3d3d;
  --accent: #b3ff00;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #3d3d3d;
  cursor: pointer;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1cd7, -13px -13px 10px #262626;
}

#about button:hover {
  box-shadow: var(--hover-shadows);
}

#about button:active {
  box-shadow: var(--hover-shadows), var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
}

#about .my-stacks h2 {
  font-size: 36px;
  font-weight: 800;
}

#about .my-stacks {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 55px 0;
  background-color: #3d3d3d;
}

#about .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Adjust the gap as needed */
}

#about .icons img {
  width: 55px;
  height: 55px;
  transition: transform 0.5s, filter 0.5s; /* Add filter transition */
  filter: grayscale(100%);
}

#about .icons img:hover {
  transform: scale(1.3);
  filter: none; /* Remove grayscale filter on hover */
}

#about .type1 .typed {
  color: #b3ff00;
  text-shadow: 0 0 5px #b3ff00;
}

@keyframes morph2 {
  0% {
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
  }

  25% {
    border-radius: 25% 5% 25% 5% / 5% 25% 5% 25%;
  }

  50% {
    border-radius: 30% 10% 30% 10% / 10% 30% 10% 30%;
  }

  75% {
    border-radius: 5% 25% 5% 25% / 25% 5% 25% 5%;
  }

  100% {
    border-radius: 5% 5% 5% 5% / 5% 5% 5% 5%;
  }
}

/* Styles for tablets (max-width: 768px) */
@media (max-width: 1024px) {
  #about .about_body {
    padding: 100px 0 40px 0;
  }

  #about .avatar {
    min-height: 400px;
    min-width: 400px;
  }

  #about .short-info ul li span:first-child {
    margin-right: 1px;
  }

  #about button {
    margin-left: 8px;
    padding: 0.9em 1.6em;
    font-size: 14px;
    z-index: 100;
  }

  #about .my-stacks {
    padding: 35px 5px;
  }
  #about .my-stacks h2 {
    font-size: 28px;
  }

  #about .icons img {
    width: 45px;
    height: 45px;
  }
}

/* Styles for mobile devices (max-width: 576px) */
@media (max-width: 576px) {
  #about .about_body {
    padding: 90px 0 45px 0;
  }

  #about .avatar {
    min-height: 300px;
    min-width: 300px;
  }

  #about .about_content {
    text-align: center !important;
  }

  #about .about_content p {
    font-size: 14px;
  }

  #about .short-info ul li span {
    font-size: 14px;
    padding-bottom: 8px !important;
  }

  #about button {
    margin-left: 0px;
    padding: 0.9em 1.2em;
    font-size: 12px;
  }

  #about .my-stacks {
    padding: 30px 10px;
  }

  #about .my-stacks h2 {
    font-size: 24px;
  }

  #about .icons img {
    width: 40px;
    height: 40px;
  }
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/

#resume .resume_body {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 55px 0;
}

#resume .section_title span {
  background-color: #3d3d3d;
  color: #adadad;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: montserrat;
  letter-spacing: 0;
  margin-bottom: 12px;
}

#resume .section_title h2 {
  font-weight: 900;
}

#resume .section_title i:hover {
  color: #b3ff00;
}

#resume .resume_title {
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 20px;
}

#resume .resume_item {
  padding: 0 0 20px 28px;
  margin-top: -2px;
  border-left: 2px solid #ffffff33;
  position: relative;
}

#resume .resume_item::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  left: -13px;
  top: 0;
  background-color: #2e2e2e;
  border: 2px solid #ffffff33;
}

#resume .resume_item:hover {
  border-left: 2px solid #b3ff00;
}

#resume .resume_item:hover::before {
  border: 2px solid #b3ff00;
}

#resume .resume_item span {
  background-color: #3d3d3d;
  color: #adadad;
  display: inline-block;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 500;
  font-family: montserrat;
  margin-bottom: 10px;
  margin-top: 8px;
}

#resume .resume_item p {
  font-size: 18px;
}

#resume .resume_item h5 {
  font-weight: 700;
}

#resume .resume_item:hover h5 {
  color: #b3ff00;
}

#resume .resume_item i:hover {
  color: #fff;
}

#resume .resume_item a:hover {
  color: #b3ff00;
}

/* Styles for tablets (max-width: 768px) */
@media (max-width: 1024px) {
  #resume .resume_body {
    padding: 100px 0 40px 0;
  }
}

/* Styles for mobile devices (max-width: 576px) */
@media (max-width: 576px) {
  #resume .resume_body {
    padding: 90px 0 45px 0;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

#portfolio .top_container {
  width: 100%;
  height: auto;
  padding: 55px 0 30px 0;
}

#portfolio .top_container::-webkit-scrollbar {
  display: none;
}

#portfolio .top_container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#portfolio .section_title span {
  background-color: #3d3d3d;
  color: #adadad;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: montserrat;
  letter-spacing: 0;
  margin-bottom: 12px;
}

#portfolio .section_title h2 {
  font-weight: 900;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item img {
  cursor: pointer;
}

.portfolio .portfolio-item img:hover {
  transform: translateY(-10px);
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  background: #3d3d3d;
  margin: 0 3px 10px 3px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  background: #fff;
  color: #3d3d3d;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

/* Set fixed size for portfolio-wrap */
.portfolio .portfolio-wrap {
  width: 100%; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

/* Make images inside portfolio-wrap responsive */
.portfolio .portfolio-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire wrap while maintaining aspect ratio */
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #b3ff00;
  border-left: 3px solid #b3ff00;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #b3ff00;
  border-right: 3px solid #b3ff00;
  transition: all 0.5s ease 0s;
  z-index: 9994;
} */

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 24px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #d4d4d4;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #b3ff00;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/* Add zoom effect on hover for portfolio-wrap */
/* .portfolio .portfolio-wrap:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;=
} */

/* Add zoom effect on hover for the image inside portfolio-wrap */
.portfolio .portfolio-wrap img {
  transition: transform 0.4s ease-in-out, filter 0.4s ease-in-out; /* Smooth transition for both transform and filter */
}

.portfolio .portfolio-wrap:hover img {
  transform: scale(1.06); /* Adjust the scale value as needed */
  filter: blur(2px); /* Add blur effect */
}

.status {
  background-color: #3d3d3d;
  color: #adadad;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: montserrat;
  letter-spacing: 0;
  margin-bottom: 15px;
  margin-top: 12px;
}

/* Custom styles for developer details */
.developer-details h6 {
  margin-top: 20px;
}

.developer-details ul {
  padding-left: 0;
}

.developer-details li {
  margin-bottom: 10px;
}

.developer-details a:hover {
  color: #b3ff00;
}

#portfolio .my-stacks {
  width: 100%;
  height: auto;
  clear: both;
  float: left;
  padding: 15px 0 50px 0;
}

#portfolio .icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px; /* Adjust the gap as needed */
}

#portfolio .icons img {
  width: 55px;
  height: 55px;
  transition: transform 0.5s, filter 0.5s; /* Add filter transition */
  filter: grayscale(100%);
}

#portfolio .icons img:hover {
  transform: scale(1.3);
  filter: none; /* Remove grayscale filter on hover */
}

/* Styles for tablets (max-width: 768px) */
@media (max-width: 1024px) {
  #portfolio .top_container {
    padding: 100px 0 40px 0;
  }

  #portfolio .my-stacks {
    padding: 35px 5px;
  }
  #portfolio .my-stacks h2 {
    font-size: 28px;
  }

  #portfolio .icons img {
    width: 45px;
    height: 45px;
  }
}

/* Styles for mobile devices (max-width: 576px) */
@media (max-width: 576px) {
  #portfolio .top_container {
    padding: 90px 0 40px 0;
  }

  #portfolio .my-stacks {
    padding: 30px 10px;
  }

  #portfolio .my-stacks h2 {
    font-size: 24px;
  }

  #portfolio .icons img {
    width: 40px;
    height: 40px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact .top_container {
  width: 100%;
  height: auto;
  padding: 55px 0 30px 0;
}

#contact .section_title span {
  background-color: #3d3d3d;
  color: #adadad;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: montserrat;
  letter-spacing: 0;
  margin-bottom: 12px;
}

#contact .section_title h2 {
  font-weight: 900;
}

#contact .info-item {
  background-color: #3d3d3d;
  height: 150px;
}

#contact .info-item .icon {
  color: #2e2e2e;
  background-color: #fff;
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  margin-right: 15px;
}

#contact .info-item h4 {
  font-weight: 800;
}

#contact .info-item h4,
.info-item p {
  margin: 0;
}

#contact .social_links {
  margin: 1px 0 0;
  font-size: 20px;
}

#contact .info-item .icon.bi::before {
  font-weight: 600 !important;
}

#contact .bi-geo-alt-fill,
#contact .bi-telephone-fill,
#contact .bi-envelope-fill,
#contact .bi-share-fill {
  transition: background-color 10s ease-in-out;
}

#contact .col-lg-6:hover .bi-geo-alt-fill,
#contact .col-md-6:hover .bi-geo-alt-fill,
#contact .col-lg-6:hover .bi-telephone-fill,
#contact .col-md-6:hover .bi-telephone-fill,
#contact .col-lg-6:hover .bi-envelope-fill,
#contact .col-md-6:hover .bi-envelope-fill,
#contact .col-lg-6:hover .bi-share-fill,
#contact .col-md-6:hover .bi-share-fill {
  background-color: #b3ff00;
  transform: scale(1.1);
  box-shadow: 0 0 15px #b3ff00;
}

#contact .info-item a:hover {
  color: #b3ff00;
}

/* Styles for tablets (max-width: 768px) */
@media (max-width: 1024px) {
  #contact .top_container {
    padding: 100px 0 40px 0;
  }
}

/* Styles for mobile devices (max-width: 576px) */
@media (max-width: 576px) {
  #contact .top_container {
    padding: 90px 0 45px 0;
  }
}
